[class*="col-"] {
  width: 100%;
}

header {
  font-family: 'Mochiy Pop P One', sans-serif;
  background-image: url(onshuis.jpg);
  background-color: lightgreen;
  filter: contrast(90%);
  text-align: center;
  min-height: 200px;
  font-size: 18px;
}

footer {
  font-size: 10px;
  text-align: center;
}

h2 {
  color: white;
  padding: 3%;
}

body {
  background-color: #99cc66;
  margin: 0;
}

#deel1 {
  padding: 10px;
}

#deel2 {
  padding: 10px;
  background-color: #FFFFCC;
}

#deelzennegat {
  min-height: 300px;
}

#deelkerk {
  min-height: 300px;
}

#afbeelding1 {
  float: right;
  width: 25%;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

#afbeelding2 {
  float: right;
  float: right;
  width: 25%;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  .row {
    display: flex;
  }

  [class]="col-"] {
    .col-1 {
      width: 8.33%;
    }

    .col-2 {
      width: 16.66%;
    }

    .col-3 {
      width: 25%;
    }

    .col-4 {
      width: 33.33%;
    }

    .col-5 {
      width: 41.66%;
    }

    .col-6 {
      width: 50%;
    }

    .col-7 {
      width: 58.33%;
    }

    .col-8 {
      width: 66.66%;
    }

    .col-9 {
      width: 75%;
    }

    .col-10 {
      width: 83.33%;
    }

    .col-11 {
      width: 91.66%;
    }

    .col-12 {
      width: 100%;
    }
  }
