header{
  background-color: #FFCC66;
  width: 100%;
  height: 200px;
}
footer{
  background-color: #FFCC33;
  width: 100%;
  height: 100px;
}
#woord1{
  background-color:#FFCCFF;
}
#woord2{
  background-color:#FFCC99;
}
#woord3{
  background-color:#FFCC33;
}
#woord4{
  background-color:#CCCCFF;
}
#woord5{
  background-color:#CCCC99;
}
#woord6{
  background-color:#CCCC33;
}
#woord7{
  background-color:#FF99FF;
}
#woord8{
  background-color:#FF9999;
}
#foto1{
  background-color:#FF9933;
}
#foto2{
  background-color:#CC99FF;
}
#foto3{
  background-color:#CC9999;
}
#foto4{
  background-color:#CC9933;
}
#foto5{
  background-color:#FF66FF;
}
#foto6{
  background-color:#FF6699;
}
#foto7{
  background-color:#FF6633;
}
#foto8{
  background-color:#CC66FF;
}
